###########################
## Database Configuration #
###########################
POSTGRES_DB=trinity-dev
POSTGRES_PASSWORD=secretPassword
POSTGRES_USER=trinity-api

##########################
## Backend Configuration #
##########################
SPRING_APP_NAME="trinity-api"

SPRING_DATASOURCE_URL="jdbc:postgresql://postgres:5432/trinity-dev"
SPRING_DATASOURCE_USERNAME="trinity-api"
## SPRING_DATASOURCE_PASSWORD is set using a compose secret

## SPRING_JWT_SECRET is set using a compose secret
SPRING_JWT_EXPIRATION=86400000 # Value in milliseconds (24 hours)

# Allows the frontend to make requests to the backend
SPRING_CORS_ALLOWED_ORIGINS="http://localhost:3000"

SPRING_PAYPAL_CLIENT_ID="AQ4d_Vnz_h8qewrlmRH4usP__tjrKeuX3IZHeS4lG637dG2xXtnEmcBb__2w63v_7l25C58BtErc64Q-"
SPRING_PAYPAL_CLIENT_SECRET=""

###########################
## Frontend Configuration #
###########################

# Used by the frontend to make requests to the backend
NEXT_PUBLIC_API_URL="http://localhost:8080/api/v1"