.badge {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    margin: 0 4px;
    font-size: 14px;
}

.success {
    color: #4A6741;
    background-color: rgba(74, 103, 65, 0.1);
}
.warning {
    color: #C7522A;
    background-color: rgba(199, 82, 42, 0.1);
}

.error {
    color: #DC2626;
    background-color: rgba(220, 38, 38, 0.1);
}

.info {
    color: #4F46E5;
    background-color: rgba(79, 70, 229, 0.1);
}