.card {
    background: var(--green-gradient);
    border-radius: 20px;
    padding: 40px 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.cardItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 30%;
    padding: 24px;
}

.cardItemImage {
    width: 45%;
    height: auto;
}

.cardItemReverse {
    display: flex;
    flex-direction: row-reverse;
}

.cardItemTitle {
    width: 40%;
    color: white;
}
