.productContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.productContainerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 1rem;
    border-bottom: 1px solid var(--text-color);
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0;
}

.filtersContainer {
    display: flex;
    gap: 10px;
    width: 45%;
}

.addContainer {
    display: flex;
    gap: 10px;
}

@media (max-width: 464px) {
    .actionContainer {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .filtersContainer {
        width: 100%;
    }
    .addContainer {
        width: 100%;
    }
}