.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}