concurrent = 1
check_interval = 0

[[runners]]
  name = "{{ gitlab_runner_name }}"
  url = "{{ gitlab_runner_url }}"
  token = "{{ gitlab_runner_token }}"
  executor = "docker"
  [runners.docker]
    tls_verify = false
    image = "docker:latest"
    privileged = true
    disable_cache = false
    volumes = ["/cache", "/var/run/docker.sock:/var/run/docker.sock"]
    shm_size = 0
